html {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    font-size: 15px;
    background-color: lightgrey;
}

body {
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 0px;
}

#auctions {
    margin: 5px;
    font-family: Helvetica;
    font-size: 70px;
    text-align: center;
    color: blue;
    padding-bottom: 20px;
}

#submitbutton {
    padding-top: 10px;
}

#data {
    padding-top: 10px;
}

#whiteboard {
    width: 50%;
    margin: auto;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
}

label {
    display: block;
}

#data {
    width: 100%;
    margin: auto;
}

#format {
    width: 80%;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: skyblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}